$widthVideo: 400px;
$heightVideo: $widthVideo / 4 * 3;
.video {
  width: $widthVideo;
  height: $heightVideo;
  // object-fit: cover;
  &::-webkit-media-controls {
    display: none;
  }
}

.video:focus {
  border: none;
  outline: none;
}

.playerWrapFullscreen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  .video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
}

.playerWrap {
  position: relative;
  display: grid;
}
.playerWrap:hover {
  .customControls {
    display: block;
  }
}

.progressbarWrap {
  margin: 0px 20px;
}

.progressbar {
  width: calc(100%);
  display: grid;
}

.preloaderBlock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.customControls {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  padding-bottom: 15px;
  background-color: #bbbbbbbf;
}

@media (max-width: 767px) {
  .customControls {
    display: block;
  }
}

@media (max-width: 575px) {
  .video {
    width: $widthVideo / 1.5;
    height: $heightVideo / 1.5;
  }
}
